In [1]:
import mysql.connector
import pandas as pd

# CSV 파일 로드
csv_file_path = 'C:/foodclassification/food_info.csv'
df = pd.read_csv(csv_file_path)

# MySQL 데이터베이스 연결 설정
config = {
    'user': 'root',
    'password': '1234',
    'host': 'localhost',
    'database': 'food_info',
    'raise_on_warnings': True
}

In [38]:
# 데이터베이스에 연결
import mysql.connector
cnx = mysql.connector.connect(**config)
cursor = cnx.cursor()
count = 0
# DataFrame의 각 행을 데이터베이스에 삽입
for index, row in df.iterrows():
    sql = "INSERT IGNORE INTO food_info_2 (no, name, serving_size, kcal, carbohydrate, protein, fat,satu_fat, sugars, Fiber, calcium, iron, mag, salt, coles) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
    val = (row['NO'],row['식품명'], row['1회제공량'], row['에너지(㎉)'], row['탄수화물(g)'], row['단백질(g)'], row['지방(g)'], row['총 포화 지방산(g)'], row['총당류(g)'], row['총 식이섬유(g)'], row['칼슘(㎎)'], row['철(㎎)'], row['마그네슘(㎎)'], row['나트륨(㎎)'], row['콜레스테롤(㎎)'])
    try:
        cursor.execute(sql, val)
    except mysql.connector.errors.IntegrityError as e:
        if e.errno == 1062:  # Duplicate entry for key
            pass  # 중복 키 오류를 무시하고 계속 진행
        else:
            raise  # 다른 오류는 여전히 발생시킴
    except mysql.connector.errors.DatabaseError as e:  # 추가된 예외 처리
        print("데이터베이스 오류 발생:", e)


# 변경사항 저장 및 연결 종료
cnx.commit()
cursor.close()
cnx.close()

2000
4000
6000

In [ ]:
CREATE TABLE `food_info_2` (
  `no` int NOT NULL,
  `name` varchar(50) DEFAULT NULL,
  `serving_size` int DEFAULT NULL,
  `kcal` float DEFAULT NULL,
  `carbohydrate` float DEFAULT NULL,
  `protein` float DEFAULT NULL,
  `fat` float DEFAULT NULL,
  `satu_fat` float DEFAULT NULL,
  `sugars` float DEFAULT NULL,
  `Fiber` float DEFAULT NULL,
  `calcium` float DEFAULT NULL,
  `iron` float DEFAULT NULL,
  `mag` float DEFAULT NULL,
  `salt` float DEFAULT NULL,
  `coles` float DEFAULT NULL,
  PRIMARY KEY (`no`),
  UNIQUE KEY `name` (`name`),
  KEY `idx_name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci


CREATE TABLE `user_food_intake` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` varchar(255) NOT NULL,
  `food_name` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `user_food_intake_ibfk_3` (`user_id`),
  KEY `fk_food_name` (`food_name`),
  CONSTRAINT `fk_food_name` FOREIGN KEY (`food_name`) REFERENCES `food_info_2` (`name`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `user_food_intake_ibfk_3` FOREIGN KEY (`user_id`) REFERENCES `users` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci

CREATE TABLE `users` (
  `id` int NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL,
  `pass` varchar(255) NOT NULL,
  `email` varchar(100) NOT NULL,
  `weight` decimal(5,2) DEFAULT NULL,
  `target_weight` decimal(5,2) DEFAULT NULL,
  `gender` enum('male','female','other') NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci

In [33]:
df.head()

,NO,식품명,1회제공량,에너지(㎉),탄수화물(g),단백질(g),지방(g),총 포화 지방산(g),총당류(g),총 식이섬유(g),칼슘(㎎),철(㎎),마그네슘(㎎),나트륨(㎎),콜레스테롤(㎎)
0,1,꿩불고기,500,368.80,39.70,33.50,8.50,1.90,16.90,9.80,105.61,0.0,85.39,1264.31,106.18
1,2,닭갈비,400,595.61,44.90,45.90,25.80,6.00,21.20,11.60,98.64,0.0,104.42,1535.83,193.40
2,4,닭꼬치,70,176.72,13.35,11.56,8.57,2.32,3.15,2.07,17.68,0.0,0.00,286.91,31.44
3,5,더덕구이,100,184.00,31.10,3.10,5.20,0.80,11.60,6.80,46.42,0.0,38.21,743.37,0.12
4,6,돼지갈비,100,240.32,8.10,19.50,14.40,4.70,4.50,0.30,47.21,0.0,20.74,404.66,49.34

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7146 entries, 0 to 7681
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   NO           7146 non-null   int64
 1   식품명          7146 non-null   object
 2   1회제공량        7146 non-null   int64
 3   에너지(㎉)       7146 non-null   float64
 4   탄수화물(g)      7146 non-null   object
 5   단백질(g)       7146 non-null   object
 6   지방(g)        7146 non-null   float64
 7   총 포화 지방산(g)  7146 non-null   float64
 8   총당류(g)       7146 non-null   object
 9   총 식이섬유(g)    7146 non-null   float64
 10  칼슘(㎎)        7146 non-null   float64
 11  철(㎎)         7146 non-null   float64
 12  마그네슘(㎎)      7146 non-null   float64
 13  나트륨(㎎)       7146 non-null   float64
 14  콜레스테롤(㎎)     7146 non-null   object
dtypes: float64(8), int64(2), object(5)
memory usage: 893.2+ KB

In [28]:
df.drop_duplicates(subset=['식품명'], keep='first', inplace=True)

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7146 entries, 0 to 7145
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   NO           7146 non-null   int64
 1   식품명          7146 non-null   object
 2   1회제공량        7146 non-null   int64
 3   에너지(㎉)       7146 non-null   float64
 4   탄수화물(g)      7146 non-null   float64
 5   단백질(g)       7146 non-null   float64
 6   지방(g)        7146 non-null   float64
 7   총 포화 지방산(g)  7146 non-null   float64
 8   총당류(g)       7146 non-null   float64
 9   총 식이섬유(g)    7146 non-null   float64
 10  칼슘(㎎)        7146 non-null   float64
 11  철(㎎)         7146 non-null   float64
 12  마그네슘(㎎)      7146 non-null   float64
 13  나트륨(㎎)       7146 non-null   float64
 14  콜레스테롤(㎎)     7146 non-null   float64
dtypes: float64(12), int64(2), object(1)
memory usage: 837.6+ KB

In [26]:
df = df.reset_index(drop=True)

In [21]:
import pandas as pd

# '-' 값을 0으로 바꾸기
df = df.replace('1g 미만', 0)
df = df.replace('-', 0)

In [20]:
df['탄수화물(g)'] = df['탄수화물(g)'].astype(float)

In [22]:
df['단백질(g)'] = df['단백질(g)'].astype(float)

In [23]:
df['총당류(g)'] = df['총당류(g)'].astype(float)

In [24]:
df['콜레스테롤(㎎)'] = df['콜레스테롤(㎎)'].astype(float)

In [30]:
df = df.dropna()

In [32]:
df.to_csv('C:/foodclassification/food_info.csv', index=False)